- title 'Editor'
%div
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    %header.mdl-layout__header
      .mdl-layout__header-row
        = link_to t('Filmer'), root_path, :class => 'mdl-layout-title logo-brand'
        .mdl-layout-spacer
        %nav.mdl-navigation
          = link_to t('about.about'), about_path, :class => 'mdl-navigation__link'
          - if user_signed_in?
            = link_to t('users.sign-out'), destroy_user_session_path, method: :delete, :class => 'mdl-navigation__link'
          - else
            = link_to t('users.sign-in'), new_user_session_path, :class => 'mdl-navigation__link'
      .mdl-layout__header-row
    %main.mdl-layout__content
      #editor{'ng-controller' => 'EditorController'}
        #left
          %sidebarDirective
            .tool#tool-picture
              %i.material-icons photo
            .slider#slider-albums
              = render 'films/pictures'
            .slider.slider-pictures#slider-pictures
              .lol.mdl-spinner.mdl-js-spinner.is-active
        #window
          %document