.mdl-cell.mdl-cell--4-col.mdl-shadow--2dp.mdl-card{:id => photo.id}
  .photo__preview{:style => "background: url('#{photo.image(:preview)}') center / cover"}
    = link_to '', photo_path(photo), class: 'photo__preview', :style => 'display:block;'
  .mdl-card__title
    .mdl-card__title-text= photo.title
    - if photo.private?
      .mdl-layout-spacer
      %i= t('pictures.hidden')
  .mdl-card__supporting-text= photo.description
  .mdl-layout-spacer
  - if photo.user == current_user
    .mdl-card__actions.mdl-card--border
      = link_to t('edit'), edit_photo_path(photo), :class => 'mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect'
      = link_to t('delete'), photo_path(photo), data: { confirm: "#{t('users.are-you-sure')}" }, :remote => true, :method => 'delete', :class => 'block-right mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect'