.mdl-cell.mdl-cell--4-col.mdl-shadow--2dp.mdl-card{:id => @photo.id}
  .photo__preview
    = image_tag @photo.image(:thumb), class: 'photo__preview'
  .mdl-card__title
    .mdl-card__title-text= @photo.title
    - if @photo.private?
      .mdl-layout-spacer
      %i= t('pictures.hidden')
  .mdl-card__supporting-text
    %p= @photo.description
    %p= t('albums.from') + ' ' + (link_to  @photo.album.title, @photo.album) unless @photo.album.nil?
  .mdl-layout-spacer
  .mdl-card__actions.mdl-card--border
    =link_to t('edit'), edit_photo_path(@photo), :class => 'mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect'
    =link_to t('delete'), photo_path(@photo), :remote => true, :method => 'delete', :class => 'block-right mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect'