%h2
  #{t('hello')}, #{@resource.name}!
%p= t('devise.mailer.reset_password_instructions.p1')
%p= link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('devise.mailer.reset_password_instructions.p2')
%p= t('devise.mailer.reset_password_instructions.p3')
%p
  #{t('devise.mailer.best_regards')},
  %br
  = t('devise.mailer.filmer_team')