= render('layouts/head')
%body
  .mdl-layout.mdl-js-layout.mdl-layout__header--scroll.mdl-layout--fixed-drawer
    %header.mdl-layout__header.mdl-layout__header--waterfall
      .mdl-layout__header-row
        =link_to t('Filmer'), root_path, :class => 'mdl-layout-title logo-brand'
        .mdl-layout-spacer
        %nav.mdl-navigation
          -if user_signed_in?
            =link_to t('users.sign-out'), destroy_user_session_path, method: :delete, :class => 'mdl-navigation__link'
          -else
            =link_to t('about.about'), about_path, :class => 'mdl-navigation__link'
            =link_to t('users.sign-in'), new_user_session_path, :class => 'mdl-navigation__link'
      .mdl-layout__tab-bar.mdl-js-ripple-effect
        = link_to t('overview'), '#index', :class => 'mdl-layout__tab is-active'
        = link_to t('pictures.upload'), '#new', :class => 'mdl-layout__tab'
    = render('layouts/drawer')
    %main.mdl-layout__content
      =yield
      = render('layouts/footer')