= render('layouts/head')
%body
  .mdl-layout.mdl-js-layout.mdl-layout__header--scroll.mdl-layout--fixed-drawer
    %header.mdl-layout__header.mdl-layout__header--waterfall
      .mdl-layout__header-row
        =link_to t('Filmer'), root_path, :class => 'mdl-layout-title logo-brand'
        .mdl-layout-spacer
        %nav.mdl-navigation
          =link_to t('about.about'), about_path, :class => 'mdl-navigation__link'
          -if user_signed_in?
            =link_to t('users.sign-out'), destroy_user_session_path, method: :delete, :class => 'mdl-navigation__link'
          -else
            =link_to t('users.sign-in'), new_user_session_path, :class => 'mdl-navigation__link'
      .mdl-layout__header-row
        %nav.mdl-navigation
          = link_to t('overview'), photos_path, :class => 'mdl-navigation__link'
          = link_to t('albums.new'), new_album_path, :class => 'mdl-navigation__link'
          = link_to t('pictures.upload'), new_photo_path, :class => 'mdl-navigation__link'
    = render('layouts/drawer')
    %main.mdl-layout__content
      =yield